.header {
    min-height: 100vh;
    padding: 61px 0 68px 0;
    background: url("/img/header_bg.png") no-repeat center / cover;
    @media (max-width: 991.98px) {
        min-height: 100%;
        padding: 28px 0 40px 0;
    }
    @media (max-width: 767.98px) {
        padding: 24px 0 40px 0;
    }
    @media (max-width: 575.98px) {
        padding: 24px 0 65px 0;
    }
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 87px;
        @media (max-width: 991.98px) {
            justify-content: space-between;
            margin-bottom: 14px;
        }
    }
    &__logo {
        color: $white;
        font-family: "Open Sans Extrabold", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        line-height: 18px;
        @media (max-width: 991.98px) {
            margin-right: 0;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        @media (max-width: 991.98px) {
            flex-direction: column;
            justify-content: start;
            position: fixed;
            z-index: 99;
            top: 0;
            right: -100%;
            width: 300px;
            height: 100vh;
            overflow: auto;
            padding: 41px 0 155px 0;
            background-color: #fff;
            transition: all ease-in-out 0.3s;
            &_active {
                right: 0;
            }
        }
    }
    &__close-btn {
        box-sizing: content-box;
        display: none;
        position: absolute;
        top: 27px;
        right: 25px;
        width: 16px;
        height: 16px;
        padding: 10px;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 17px;
            left: 8px;
            width: 20px;
            height: 2px;
            transform: rotate(-45deg);
            background-color: #aeaeae;
        }
        &::after {
            content: "";
            position: absolute;
            top: 17px;
            left: 8px;
            width: 20px;
            height: 2px;
            transform: rotate(45deg);
            background-color: #aeaeae;
        }
        @media (max-width: 991.98px) {
            display: block;
        }
    }
    &__content {
        display: flex;
        align-items: flex-start;
        @media (max-width: 575.98px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__img {
        flex: 1 1 67%;
        width: 647px;
        margin: -11px 0 0 -108px;
        @media (max-width: 991.98px) {
            margin: -3px 0 0 -120px;
        }
        @media (max-width: 767.98px) {
            flex: 1 1 100%;
            margin: -7px 0 0 -15px;
        }
        @media (max-width: 575.98px) {
            width: auto;
        }
    }
    &__desc {
        flex: 1 1 50%;
        padding: 42px 0 0 20px;
        @media (max-width: 991.98px) {
            padding: 38px 0 0 12px;
        }
        @media (max-width: 767.98px) {
            flex: 1 1 100%;
            padding: 9px 0 0 0;
        }
    }
    &__slogan {
        margin-bottom: 35px;
        color: $white;
        font-family: "Muller Extra Bold", sans-serif;
        font-size: 60px;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1.76px;
        @media (max-width: 991.98px) {
            margin-bottom: 30px;
            font-size: 45px;
            letter-spacing: 1.32px;
        }
        @media (max-width: 767.98px) {
            margin-bottom: 23px;
            font-size: 36px;
        }
    }
    &__title {
        padding-bottom: 75px;
        color: $white;
        font-family: "Muller Medium", sans-serif;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 400;
        @media (max-width: 991.98px) {
            padding-bottom: 35px;
            font-size: 21px;
        }
        @media (max-width: 767.98px) {
            padding-bottom: 42px;
        }
    }
    &__order {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 119px;
        @media (max-width: 991.98px) {
            flex-direction: column;
            align-items: start;
            margin-bottom: 0;
        }
    }
    &__button {
        margin: 0 29px 0 0;
        @media (max-width: 1105.98px) {
            margin: 0 29px 25px 0;
        }
        @media (max-width: 991.98px) {
            margin: 0 0 25px 0;
        }
        @media (max-width: 575.98px) {
            width: 100%;
        }
    }
    &__delivery {
        width: 210px;
        color: $white;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }
    &__burger {
        display: none;
        cursor: pointer;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
        span {
            position: absolute;
            top: 7px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
        @media (max-width: 991.98px) {
            display: block;
            position: relative;
            width: 25px;
            height: 16px;
        }
    }
    &__mouse {
        display: block;
        width: 19px;
        height: 31px;
        margin: 0 auto;
        background: url("/img/svg/mouse.svg") no-repeat center;
        @media (max-width: 767.98px) {
            display: none;
        }
    }
}