.faq {
    position: relative;
    padding: 20px 0 170px 0;
    background: url("/img/lines_bg.png") no-repeat center;
    @media (max-width: 1199.98px) {
        padding: 20px 0 100px 0;
    }
    @media (max-width: 575.98px) {
        padding: 10px 0 84px 0;
    }
    .feed-form__item {
        width: 180px;
        @media (max-width: 575.98px) {
            width: 100%;
        }
    }
    &__title {
        margin-bottom: 60px;
        @media (max-width: 575.98px) {
            margin-bottom: 40px;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        flex: 1 1 48%;
        max-width: 48%;
        margin-bottom: 45px;
        list-style: none;
        @media (max-width: 1199.98px) {
            flex: 1 1 100%;
            max-width: 100%;
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 4;
            }
            &:nth-child(3) {
                order: 2;
            }
            &:nth-child(4) {
                order: 5;
            }
            &:nth-child(5) {
                order: 3;
            }
            &:nth-child(6) {
                order: 6;
            }
        }
        @media (max-width: 575.98px) {
            margin-bottom: 40px;
        }
        &:last-child {
            margin-bottom: 65px;
            @media (max-width: 1199.98px) {
                margin-bottom: 55px;
            }
        }
    }
    &__subtitle {
        margin-bottom: 25px;
        color: #383d52;
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
    }
    &__text {
        color: #5e606a;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    &__feed-form {
        @include input-placeholder {
            color: #fff;
        }
        width: 100%;
        padding: 45px 68px 17px 311px;
        background: url("/img/question.png") no-repeat 30px center,
            #883eca url("/img/svg/form_bg.svg") no-repeat center right;
        border-radius: 10px;
        box-shadow: 0 23px 32px rgba(81, 8, 86, 0.33);
        @media (max-width: 1199.98px) {
            padding: 45px 31px 20px 36px;
            background: url("/img/question.png") no-repeat calc(100% + 30px) -60px,
                #883eca url("/img/svg/form_bg.svg") no-repeat 475px 5px;
        }
        @media (max-width: 575.98px) {
            padding: 45px 22px 56px 25px;
            background: #883eca url("/img/question.png") no-repeat calc(100% + 65px) -45px / 165px 150px;
        }
    }
    &__button {
        @media (max-width: 414px) {
            width: 100%;
        }
    }
    &::after {
        content: "";
        position: absolute;
        z-index: 10;
        bottom: -67px;
        left: 50%;
        width: 11px;
        height: 130px;
        background: url("/img/svg/lines.svg") no-repeat center;
        @media (max-width: 575.98px) {
            display: none;
        }
    }
}
