.contacts {
    position: relative;
    max-width: 1980px;
    height: 653px;
    margin: 0 auto;
    &__map {
        width: 100%;
        height: 653px;
        border: none;
    }
    &__block {
        position: absolute;
        top: 121px;
        left: 260px;
        width: 458px;
        height: 383px;
        padding: 88px 88px 88px 88px;
        box-shadow: 0 23px 32px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
        background-color: #ffffff;
    }
    &__title {
        margin-bottom: 62px;
    }
    &__list {
        padding-left: 26px;
    }
    &__item {
        position: relative;
        margin-bottom: 25px;
        list-style: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
    }
    &__address {
        color: #5e606a;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -26px;
            width: 11px;
            height: 17px;
            background: url("/img/svg/icon-marker.svg") no-repeat center;
        }
    }
    &__email {
        text-decoration: none;
        color: #5e606a;
        &::before {
            content: "";
            position: absolute;
            top: 2px;
            left: -26px;
            width: 14px;
            height: 17px;
            background: url("/img/svg/icon-letter.svg") no-repeat center;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &__phone {
        text-decoration: none;
        color: #5e606a;
        &::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -26px;
            width: 20px;
            height: 17px;
            background: url("/img/svg/icon-phone.svg") no-repeat center/cover;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}


