.button {
    padding: 17px 41px;
    border-radius: 24px;
    border: none;
    background-color: #fb0275;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
        background-color: $white;
        color: $pink;
    }
    &:focus {
        outline: none;
    }
}