h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body.scroll-lock {
    @media (max-width: 1199.98px) {
        overflow: hidden;
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 1199.98px) {
        max-width: 750px;
    }
    @media (max-width: 575.98px) {
        max-width: 100%;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
}

input,
textarea,
button,
select,
a,
.modal__close {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 484px;
    list-style: none;
    @media (max-width: 1199.98px) {
        flex-direction: column;
        align-items: start;
        width: auto;
        padding-bottom: 80px;
    }
    &__item {
        @media (max-width: 1199.98px) {
            width: 100%;
            &:nth-child(1) {
                width: 75%;
            }
        }
    }
    &__link {
        display: block;
        color: $white;
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.65px;
        line-height: 13px;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        @media (max-width: 1199.98px) {
            padding: 0 0 0 68px;
            line-height: 48px;
            color: $grey;
            &:hover {
                color: $grey;
            }
        }
        &:hover {
            color: $pink;
        }
    }
}